<div id="m-market-queries-radford" class="component-body">
  <div notification-bar="" notification-bar-name="toasts" *ngIf="notifications!=undefined && notifications.length !== 0"
    class="m-notification-bar toasts">
  </div>
  <div id="Loading" *ngIf="showLoading" class="loading-mask ng-isolate-scope
  is-active loading"></div>
  <div *ngIf="config.intValue==1" class="toolbox-header">
 <!--    <div class="display-flex">
      <aon-sub-menu></aon-sub-menu>
    </div> -->
    <div class="market-query-toolbox">
      <!-- <aon-pin-float [floatClass]="'market-query-toolbox'"> </aon-pin-float> -->
      <div class="market-query-toolbox-col">
        <aon-query-search-list class="aon-col" [list]="reportQuery" [focus]="step==0" (createQuery)="createQuery();step=1;"
          (selectQuery)="selectQuery($event);step=1;" (deleteQuery)="deleteQuery($event);step=1;">
        </aon-query-search-list>
      </div>

      <div class="market-query-toolbox-col">

        <aon-jobs-dropdown class="aon-col" [list]="jobs" [preselect]="!isJobSearchDisabled" [focus]="step==1"
          [isDisabled]="isJobSearchDisabled" (selectedItemChanged)="selectedItemChanged($event);step=2;">
        </aon-jobs-dropdown>
      </div>
      <div class="market-query-toolbox-col">

        <aon-job-search [focus]="step==2" *ngIf="jobIndex===0" class="aon-col 0" [isDisabled]="isJobSearchDisabled">
        </aon-job-search>
        <aon-jobs-dropdown [title]="'Job List'" (createNewItem)="createNewJobList()" [withCreateNew]="true"
          [focus]="step==2" *ngIf="jobIndex===1" class="aon-col 1" [list]="jobsList" [isDisabled]="isJobSearchDisabled"
          (selectedItemChanged)="selecteJobChanged($event)">
        </aon-jobs-dropdown>
        <aon-jobs-dropdown [title]="'Job List'" (createNewItem)="createNewDataElement()" [withCreateNew]="true"
          [focus]="step==2" *ngIf="jobIndex>1" class="aon-col 2" [list]="dataElements" [isDisabled]="isJobSearchDisabled"
          (selectedItemChanged)="selectDataElement($event)">
        </aon-jobs-dropdown>




      </div>
      <div class="market-query-toolbox-col" *ngIf="jobIndex>1">
        <aon-jobs-dropdown [title]="'Data Elements'" (createNewItem)="createNewDataElement()" [withCreateNew]="true"
          [focus]="step==2" class="aon-col 2" [list]="dataElements" [isDisabled]="isJobSearchDisabled"
          (selectedItemChanged)="selectDataElement($event)">
        </aon-jobs-dropdown>
      </div>

    </div>
  </div>
</div>
